{% extends 'student/navbar.html' %}

{% block head %}
{% block title %}
Faculty Data
{% endblock %}
{% endblock %}
{% block body%}
	<table  class='table'>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Age</th>
			<th>Branch</th>
			<th>Email</th>
			<th>Join Date</th>
			<th>mobile</th>
		</tr>
		
			{% for i in data %}
			<tr>
				<td>{{i.First_name}}</td>
				<td>{{i.Last_name}}</td>
				<td>{{i.Age}}</td>
				<td>{{i.Department}}</td>
				<td>{{i.Email}}</td>
				<td>{{i.Join_Date}}</td>
				<td>{{i.mobile}}</td>
				<td class='btn btn-primary' ><a style="color:white;" href="{% url 'editFaculty' i.id%}">Edit</a></td>
				<td class='btn btn-danger'> <a style="color:white;" href="{% url 'deleteFaculty' i.id%}">Delete</a></td>
			</tr>
			{% endfor %}

		
	</table>

{% endblock%}